<div id="<%= dom_id poll %>">
  <h2 class="my-5 font-bold text-2xl">
    <%= poll.name %>
  </h2>

  <div class="flex flex-row gap-4 my-5">
    <% poll.options.each do |option| %>
      <div class="rounded-lg py-3 px-5 bg-blue-500 inline-block font-medium text-white">
        <%= option.name %>
      </div>
    <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this poll", poll, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this poll', edit_poll_path(poll), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
