<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex-row flex py-8">
    <nav class="sticky top-0 max-h-screen flex pl-8">
      <div class="w-[360px] bg-slate-100 p-8 text-slate-900 flex flex-col rounded-lg justify-between">
        <div class="flex flex-col gap-4">
          <a
            href="/"
            class="flex gap-2 items-center flex-shrink-0 mr-6 bg-slate-200 hover:bg-slate-300 p-4 rounded-md transition-all hover:pl-6"
          >
            <h4>Test</h4>
         Test
         </a>
        </div>
        <div>
          <h5>
            © Vote 2023 | All rights reserved
          </h5>
        </div>
      </div>
    </nav>
    <main class="container mx-auto px-5 flex flex-col m">
      <%= yield %>
    </main>
  </body>
</html>
